body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    margin: 3rem;
    width: 15rem;
    align-items: center;
    box-shadow: 0 0 10px lightgray;
    width: 50%;
    height: 12rem;
    background-color: aliceblue;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
}

.counter{
    font-size: 2rem;
}

.loading-bar-back{
    position: absolute;
    height: 1rem;
    border-radius: 1rem;
    border: none;
    width: 100%;
    background-color:thistle
}
.loading-bar-front{
    position: absolute;
    height: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: cornflowerblue;
    width: 0%;

}
